////////////////////////////////////////////
.ap
	&-footer
		background-color: $footer
		padding: 3em 1em

		.ap-panel
			+above(1000px)
				max-width: 75%
				margin: auto

		.ap-ttt
			font-family: $ttFrut
			color: #FFF
			text-transform: uppercase
			margin-bottom: .6em

		.ap-input--txt
			margin-bottom: 1em

		.col4
			+below(414px)
				float none
				margin: 0 0 1em
				width: 100%
