////////////////////////////////////////////
.ap
	&-footer
		background-color: $orange
		padding: 0 1em 1em

		+above(1000px)
			padding: 1em

		.ap-panel
			+above(1000px)
				max-width: 80em
				margin: auto

		.ap-tt-brand-link
			width: 16em
			img
				width: 100%

		.ap-nav
			padding: 0

		.ap-social-btn
			color: #FFF
			font-size: 1.4em
			display inline-block
			vertical-align middle

			&:nth-child(2)
				margin-left: .4em
