// Colors

// Solid Colors
$orange = #dd8448
$concretedk = #1a1a1c
$base = #292d30
$lightGr = #f8f8f8

// Selections
::selection
	background: $orange
	color: #FFF
	text-shadow: none

::-moz-selection
	background: $orange
	color: #FFF
	text-shadow: none
