{% extends "layout.html" %}
{% set title = '' %}
{% set page = 'home' %}

{% block content %}
		<section class="ap-onepage" id="ap-onepage">
			<article class="ap-op-sect ap-op-sect--top" id="ap-op-home">
				{% include "partials/onepage/sect-top.html" %}
			</article>
			<article class="ap-op-sect ap-op-sect--areas" id="ap-op-areas">
				{% include "partials/onepage/sect-areas.html" %}
			</article>
			<article class="ap-op-sect ap-op-sect--who" id="ap-op-who">
				{% include "partials/onepage/sect-who.html" %}
			</article>
			<article class="ap-op-sect ap-op-sect--lawyers" id="ap-op-lawyers">
				{% include "partials/onepage/sect-lawyers.html" %}
			</article>
			<article class="ap-op-sect ap-op-sect--contact" id="ap-op-contact">
				{% include "partials/onepage/sect-contact.html" %}
			</article>
			<!-- // Footer -->
			{% include "partials/footer.html" %}
		</section>
{% endblock content %}

{% block js %}
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7GGzWXpfY8ylcbRZETG-Fgw2VdQaxy5I&callback=initMap"
		type="text/javascript"></script>
{% endblock %}

