
		<!-- Slider Top -->
		<div class="ap-top-slider">
			<div class="swiper-wrapper">
				<div class="swiper-slide ap-slide--first">
					<div class="ap-slide-info">
						<div class="ap-slide-tt-wrap">
							<h3 class="ap-tt-sect--orange">Llámenos y concretemos una cita</h3>
						</div>
						<p class="ap-slide-txt-wrapp"><span>(984).150.20.55</span></p>
					</div>
					<div class="ap-top-slider-pattern"></div>
				</div>
				<div class="swiper-slide ap-slide--middle">
					<div class="ap-slide-info">
						<div class="ap-slide-tt-wrap">
							<h3 class="ap-tt-sect--orange">Llámenos y concretemos una cita</h3>
						</div>
						<p class="ap-slide-txt-wrapp"><span>(984).150.20.55</span></p>
					</div>
					<div class="ap-top-slider-pattern"></div>
				</div>
				<div class="swiper-slide ap-slide--last">
					<div class="ap-slide-info">
						<div class="ap-slide-tt-wrap">
							<h3 class="ap-tt-sect--orange">Llámenos y concretemos una cita</h3>
						</div>
						<p class="ap-slide-txt-wrapp"><span>(984).150.20.55</span></p>
					</div>
					<div class="ap-top-slider-pattern"></div>
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
			<div class="ap-fixed-logo">
				<figure class="ap-fx-lg">
					<img src="/Content/img/img-logo.png" alt="Chávez Velasco">
					<span class="ap-load-grow"></span>
				</figure>
			</div>
		</div>

		<!-- News feed -->
		<section class="ap-nfd">
			<header class="ap-nfd-header">
				<h3 class="ap-tt-sect--small-bold">
					Noticias recientes
				</h3>
			</header>
			<div class="ap-nws-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="ap-news-item cf">
							<div class="ap-news-info">
								<h3 class="ap-tt-sect">
									<p class="ap-txt-load">
										<span>.</span>
										<span>.</span>
										<span>.</span>
									</p>
								</h3>
								<p class="ap-txt ap-news-txt">
									<span class="ap-txt-load">
										<span>.</span>
										<span>.</span>
										<span>.</span>
									</p>
								</span>
							</div>
							<nav class="ap-news-nav">
								<a href="#" target="_blank" class="ap-news-link icon-expand"></a>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</section>
