
		<!-- Slider Top -->
		<article class="ap-law">
			<header class="ap-law-hd">
				<div class="ap-panel">
					<h2 class="ap-tt-sect">NUESTROS ABOGADOS</h2>
				</div>
			</header>
			<article class="ap-lawyer-area cf">
				<div class="col6 ap-lawyer cf">
					<figure class="ap-law-img">
						<img src="Content/img/img-carlos.jpg" alt="Carlos Chávez">
						<figcaption class="ap-law-img-info">
							<span class="ap-law-name">Carlos Chávez</span>
							<span class="ap-law-charge">Abogado</span>
						</figcaption>
					</figure>

					<div class="ap-law-info">
						<h4 class="ap-tt-sec">ÁREAS DE EXPERTÍZ</h4>
						<ul class="ap-law-list">
							<li class="ap-law-item">Derecho Mercantil</li>
							<li class="ap-law-item">Derecho Laboral</li>
							<li class="ap-law-item">Derecho indigena</li>
						</ul>
						<nav class="ap-nav cf">
							<a href="#" class="ap-btn ap-btn--orange">Leer más</a>
						</nav>
					</div>
				</div>
				<div class="col6 ap-lawyer cf">
					<figure class="ap-law-img">
						<img src="Content/img/img-mauricio.jpg" alt="Mauricio Chávez">
						<figcaption class="ap-law-img-info">
							<span class="ap-law-name">Chávez Velasco</span>
							<span class="ap-law-charge">Seo</span>
						</figcaption>
					</figure>

					<div class="ap-law-info">
						<h4 class="ap-tt-sec">ÁREAS DE EXPERTÍZ</h4>
						<ul class="ap-law-list">
							<li class="ap-law-item">Derecho Mercantil</li>
							<li class="ap-law-item">Derecho Laboral</li>
							<li class="ap-law-item">Derecho indigena</li>
						</ul>
						<nav class="ap-nav cf">
							<a href="#" class="ap-btn ap-btn--orange">Leer más</a>
						</nav>
					</div>
				</div>
			</article>
		</article>
