
		<!-- Slider Top -->
		<article class="ap-law">
			<header class="ap-law-hd">
				<div class="ap-panel">
					<h2 class="ap-tt-sect">NUESTROS ABOGADOS</h2>
				</div>
			</header>
			<article class="ap-lawyer-area">
				<div class="ap-panel">
					<p class="ap-txt">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi omnis neque quo nemo esse itaque adipisci possimus repellendus vitae maxime, quaerat quia consectetur consequatur maiores ullam, id voluptatem, earum, reiciendis.
					</p>
					<div class="cf">
						<div class="col6">
							<a href="/page.desc-carlos.html" class="ap-btn ap-btn--orange">Leer más de Carlos</a>
						</div>
						<div class="col6">
							<a href="/page.desc-mauricio.html" class="ap-btn ap-btn--orange">Leer más de Mauricio</a>
						</div>
					</div>
				</div>
			</article>
		</article>
