
		<!-- Areas -->
		<div class="ap-who cf">
			<h2 class="ap-tt-sect">
				SOMOS
			</h2>

			<div class="ap-who-img-bg cf">
				<div class="ap-who-img-area">
					<div class="ap-who-info">
						<img src="Content/img/img-logo.png" alt="Chávez Velazco Abogados.">

						<div class="cf ap-who-data">
							<div class="ap-who-data--wins col6">
								<span class="ap-who-data-num">
									<span class="ap-who-data--number">79</span>
								</span>
								<p class="ap-who-data-tt">Casos Ganados</p>
							</div>
							<div class="ap-who-data--pitch col6">
								<span class="ap-who-data--number">87</span>
								<p class="ap-who-data-tt">Casos Levantados</p>
							</div>
						</div>
					</div>
					<div class="ap-top-slider-pattern"></div>
				</div>
			</div>

			<div class="ap-who-block">
				<h3 class="ap-tt-sect--orange">Chávez Velasco | Abogados & Asociados</h3>

				<p class="ap-txt">
					Es un estudio jurídico dirigido por un equipo de profesionales, cuya práctica se sustenta en ofrecer a sus clientes servicios de consultoría, litigación y representación en las diferentes áreas del derecho, con el objeto de proponer soluciones efectivas, innovadoras y de excelencia.
				</p>
				<p class="ap-txt">
					Bajo el concepto de firma legal colaboran profesionistas de diversas especialidades que con su experiencia y su calificada trayectoria enriquecen la visión de conjunto en cada uno de los asuntos que los clientes les confían.
				</p>

				<p class="ap-txt">
					Atentamente:
				</p>


				<div class="ap-who-names cf">
					<div class="col6">
						<figure class="ap-svg-signature"></figure>
						<h3 class="ap-tt-sect--orange">Chávez Abogado</h3>
					</div>
					<div class="col6">
						<figure class="ap-svg-signature"></figure>
						<h3 class="ap-tt-sect--orange">Chávez Abogado</h3>
					</div>
				</div>
			</div>


		</div>
