
		<!-- Areas -->
		<div class="ap-area-panel cf">
			<div class="ap-area-wt">
				<h2 class="ap-tt-sect">
					Áreas de práctica
				</h2>
				<p class="ap-txt">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</p>
				<div class="cf">
					<ul class="ap-areas-list col6">
						<li class="ap-areas-item">
							<a href="page.areas-civil.html" class="ap-areas-link icon-arrow-left">
								<i class="icon-hotairballoon"></i>
								Derecho civil
							</a>
						</li>
						<li class="ap-areas-item">
							<a href="page.areas-mercantil.html" class="ap-areas-link icon-arrow-left">
								<i class="icon-pricetags"></i>
								Derecho Mercantil
							</a>
						</li>
						<li class="ap-areas-item">
							<a href="page.areas-laboral.html" class="ap-areas-link icon-arrow-left">
								<i class="icon-shield"></i>
								Derecho Laboral
							</a>
						</li>
						<li class="ap-areas-item">
							<a href="page.areas-marcas-patentes.html" class="ap-areas-link icon-arrow-left">
								<i class="icon-genius"></i>
								Marcas y patentes
							</a>
						</li>
						<li class="ap-areas-item">
							<a href="page.areas-gestoria.html" class="ap-areas-link icon-arrow-left">
								<i class="icon-circle-compass"></i>
								Gestoria
							</a>
						</li>
					</ul>
					<ul class="ap-areas-list col6">
						<li class="ap-areas-item">
							<a href="page.areas-litigacion.html" class="ap-areas-link icon-arrow-left">
								<i class="icon-strategy"></i>
								Litigación
							</a>
						</li>
						<li class="ap-areas-item">
							<a href="page.areas-amparo.html" class="ap-areas-link icon-arrow-left">
								<i class="icon-key"></i>
								Amparo
							</a>
						</li>
						<li class="ap-areas-item">
							<a href="page.areas-cobranza.html" class="ap-areas-link icon-arrow-left">
								<i class="icon-hourglass"></i>
								Cobranza
							</a>
						</li>
						<li class="ap-areas-item">
							<a href="page.areas-administracion.html" class="ap-areas-link icon-arrow-left">
								<i class="icon-streetsign"></i>
								Adnimistración
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="ap-area-dsk">
				<div class="ap-area-dsk-img"></div>
			</div>
		</div>

		<article class="ap-why">
			<div class="ap-why-area">
				<h3 class="ap-tt-sect--small-bold">
					¿Por qué trabajar con nosotros?
				</h3>

				<div class="ap-why-msg">
					<p class="ap-txt">
						<span class="ap-txt--cap">L</span>orem ipsum dolor sit amet, consectetur adipisicing elit. Odit ducimus alias quas quos vel, natus sequi est quia blanditiis ipsa. Repudiandae maiores sint possimus consequatur veritatis et, iste quam tempore.
					</p>
				</div>
			</div>
			<div class="ap-why-block">
				<div class="ap-area-panel">
					<div class="ap-why-item">
						<figure class="ap-why-img"></figure>
						<div class="ap-why-inf">
							<p class="ap-txt ap-txt--name">Chávez Velasco</p>
							<p class="ap-txt ap-txt--charge">Abogado y Socio Pricipal...</p>
						</div>
					</div>
				</div>
			</div>

		</article>
