
		<!-- Areas -->
		<div class="ap-area-ct">
			<header class="ap-ct-head">
				<h2 class="ap-tt-sect">
					INFORMES Y CONTACTO
				</h2>
			</header>
			<div class="ap-ct-info cf">
				<div class="col6 ap ct-info-data">
					<h3 class="ap-tt-sect icon-map">
						NUESTRAS OFICINAS
					</h3>
					<p class="ap-ct-item">Paseo Tulum, Manzana 19 Lote 8,Edificio Bugambilias, Oficina 25, Playacar Fase II, Código Postal 77710, Playa del Carmen, Quintana Roo.</p>
				</div>
				<div class="col6 ap ct-info-data">
					<h3 class="ap-tt-sect icon-search">
						MANTENGAMOS CONTACTO
					</h3>
					<p class="ap-txt">
						email:
						<a href="mailto:chavezvelascoabogados@gmail.com" class="ap-txt--link">chavezvelascoabogados@gmail.com</a>
					</p>
					<p class="ap-txt">
						Teléfonos:
						<span class="ap-txt-phone">
							+52 (984)  150 20 55
						</span>
						<span class="ap-txt-phone">
							+52 (443) 432 16 94
						</span>
						<span class="ap-txt-phone">
							+52 (443) 120 38 89
						</span>
					</p>
				</div>
			</div>
		</div>
		<div class="ap-ct-map"></div>
