
		<header class="ap-header">
			<div class="ap-panel cf">
				<h1 class="ap-tt-brand">
					<a href="/" class="ap-tt-brand-link">
						<img src="Content/img/img-logo-top.png" alt="">
						<span class="ap-tt-tt">
							Chávez Velasco | Abogados en Playa del Carmen, Quintana Ro
						</span>
					</a>
				</h1>
				<nav class="ap-navigation">
					<div class="ap-search-bar">
						<a href="#" class="ap-btn-search icon-magnifying-glass"></a>
						<input type="text" class="ap-inpt-txt">
					</div>
					<div class="ap-btn-menu">
					  <span></span>
					  <span></span>
					  <span></span>
					  <span></span>
					</div>
				</nav>
			</div>
			<nav class="ap-header-navigation">
				<div class="ap-header-tt cf">
					<h3 class="ap-tt-sect--small-bold">Menú</h3>

					<div class="ap-social">
						<a href="https://twitter.com/ChaVAbogados" target="_blank" class="ap-social-btn icon-twitter"></a>
						<a href="https://www.facebook.com/ChavezVelascoAbogados/" target="_blank" class="ap-social-btn icon-facebook"></a>
					</div>
				</div>
				<div class="ap-nav-scroll ap-scroll">
					<ul class="ap-nav ap-nav--left cf" id="ap-nav">
						<li class="ap-nav-item ap-nav-item--active">
							<a href="#ap-op-home" class="ap-nav-link">Inicio</a>
						</li>
						<li class="ap-nav-item">
							<a href="#ap-op-areas" class="ap-nav-link">Áreas de Práctica</a>
						</li>
						<li class="ap-nav-item">
							<a href="#ap-op-who" class="ap-nav-link">¿Quiénes somos?</a>
						</li>
						<li class="ap-nav-item">
							<a href="#ap-op-lawyers" class="ap-nav-link ap-nav-link--no-link">Nuestros Abogados</a>
						</li>
						<li class="ap-nav-item">
							<a href="#" class="ap-nav-link ap-nav-link--no-link">Otros</a>

							<ul class="ap-nav-nav">
								<li class="ap-nav-item">
									<a href="#ap-op-lawyers" class="ap-nav-link">Contacto</a>
								</li>
								<li class="ap-nav-item">
									<a href="" class="ap-nav-link ap-nav-link--ext-link">Blog</a>
								</li>
								<li class="ap-nav-item">
									<a href="" class="ap-nav-link ap-nav-link--ext-link">Noticias</a>
								</li>
								<li class="ap-nav-item">
									<a href="" class="ap-nav-link ap-nav-link--ext-link">Docencia</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="ap-header-orn"></div>
			</nav>
		</header>
