.ap
	&-op
		&-sect
			&--who
				padding-top: 0

				+above(1000px)
					background: #000
					padding: 10em 0 4em

	&-who
		position: relative

		+above(1000px)
			max-width: 80em;
			margin: auto;

		.ap-tt-sect
			position: absolute;
			width: 100%;
			color: #fff;
			top: 2.2em;
			z-index: 2;

			+above(1000px)
				top: 0.2em
				margin-left: 0.6em

			&:before
				background-color: $orange

		&-img
			&-bg
				position: relative;
				height: 32em;

				+above(1000px)
					float: right;
					width: calc(100% - 54em);
					transform: translateX(-1em);
					padding: 2.6em 0 0

			&-area
				height: 100%
				background: url('../img/img-somos.jpg') center top no-repeat / cover
				padding-top: 16em;

				+above(1000px)
					padding-top: 14em
					position: relative

		// Info
		&-info
			position: relative;
			z-index: 3;
			background-color: rgba(0,0,0,.5);
			border-left: .4em solid $orange;
			padding: 1em;
			float: right
			width: 80%
			max-width: 24em

			img
				width: 15em;
				display: block;
				margin: 0 auto 1em

		&-data
			width: 16em;
			margin: .6em auto 0;

			&--wins
				border-right: 1px solid rgba(255, 255, 255, .2)

			&--number
				font-size: 3em;
				color: white;
				text-align: center;
				display: block;
				line-height: 0.6em

				&:after
					content: '%'

			&-tt
				color: $orange
				font-family: $subFont
				display block
				text-align center
				font-size: .88em

		&-block
			padding: 1em

			+above(1000px)
				padding: 6em 4em 1em 2em;
				float: left;
				width: 54em;
				background: #1d1d1f;

			.ap-tt-sect--orange
				color: $orange
				font-size: 2em;
				margin: .6em 0;
				font-weight: 700;

			.ap-txt
				margin-bottom: 1em
