.ap
	&-op
		&-sect
			&--lawyers
				background-color: $lightGr
				position: relative

				.ap-panel
					+above(1000px)
						margin: auto;
						max-width: 80em;


				&-active
					.ap-law
						&-img
							img
								transform: none
								opacity: 1

	&-law
		&-hd
			padding: 6em 0 2em

			.ap-tt-sect
				&:before
					background-color: $orange

		&-img
			display: inline-block
			vertical-align: top
			width: 10em
			overflow hidden
			position: relative

			img
				transition: .30s all cubic-bezier(.25,.1,.25,1)
				transform: translate(-10em, 0em); */
				opacity: 0;

			&:before
				background: url('../img/pattern.png')
				content: ''
				position: absolute
				width: 100%
				height: 10.1em

			&-info
				display block
				padding-top: .6em

				span
					display block

				.ap-law
					&-name
						color: $orange
						font-weight: 700;
						font-size: 1.8em;
						line-height: 1em;

					&-charge
						font-family: $subFont
						font-style: italic

			img
				width: 100%
				border-bottom: 2px solid $orange

		&-info
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 11em);
			border-left: 1px solid rgba(0,0,0,.2);
			margin-left: 0.6em;
			padding-left: 0.6em;

			.ap-tt-sect
				font-size: 1.4em
				margin-bottom: .6em
				text-transform uppercase

			.ap-btn
				+above(1000px)
					border: 2px solid transparent
					transition: .30s all

					&:hover
						border-color: $orange
						background-color: #FFF
						color: $orange

		&-item
			font-family: $subFont
			color: $base

			&:before
				content: '- '

	&-lawyer
		+below(420px)
			float: none
			width: 100%
			margin: 0 0 1em

		+above(1000px)
			font-size: 1.2em

		&-area
			padding: 1em 1em 2em
			background-color: #FFF

			+above(1000px)
				padding: 4em 1em;

		&:nth-child(2)
			.ap-law-img
				img
					transition-delay: .3s
