$pt = 6em

.ap
	&-op
		&-sect
			&--areas
				background: #FFF;
				padding-top: $pt

				+above(1000px)
					background: $lightGr

	&-area
		&-panel
			+above(1000px)
				max-width: 80em;
				margin: auto;
				padding-bottom: $pt

		&-wt
			padding: 0 1em 1em

			+above(1000px)
				background-color: #FFF
				float left
				width: 60em
				padding: 2em 3.6em 2em 2em

			.ap
				&-tt-sect
					color: $orange
					margin-bottom: .6em

				&-txt
					color: $base
					margin-bottom: 1em

					+above(1000px)
						margin-bottom: 2.6em

		&-dsk
			+above(1000px)
				width: calc(100% - 60em);
				height: 14em;
				float: left;
				position: relative;
				transform: translate(-2em, 0);
				padding: 2em 0

			&-img
				+above(1000px)
					background: url('../img/img-areas.jpg') no-repeat right top
					height: 100%;
					background-size: 32em;

	&-areas
		&-list
			position: relative

			+above(1000px)
				font-size: 1.4em
				width: 48%;
				margin-left: 4%;

				&:first-child
					border-right: 1px solid rgba(0, 0, 0, .2)
					padding-right: 5%;

		&-item
			margin-bottom: 1em
			position: relative

		&-link
			font-family: $subFont
			color: $base

			&:before
				position: absolute;
				right: 0;
				font-size: 0.8em;
				top: 50%;
				margin-top: -0.5em;
				transition: .10s linear

			i
				color: $orange
				font-size: 1.4em;
				display: inline-block;
				vertical-align: middle;
				margin-right: .2em;
				width: 1em;

				+above(1000px)
					width: 1.8em

			&:after
				content: ''
				width: 0
				height: .1em
				background-color: rgba($orange, .4)
				transition: .10s linear
				position: absolute
				bottom: -0.4em;
				left: 0;

			+above(1000px)
				&:hover
					color: $orange

					&:after
						width: 100%

					&:before
						right: -.2em



	&-why
		background-color: #1d1d1f
		padding: 2em 0 0

		+above(1000px)
			padding: 4em 0 0
			position: relative

		&-area
			padding: 0 1em 1em

			+above(1000px)
				max-width: 80em;
				margin: auto;
				padding: 0 1em 2em

		.ap-tt-sect--small-bold
			width: 7em;
			font-size: 1.6em;
			line-height: 1em;

		&-msg
			padding: 1.4em 1.2em 1em 1em

			+above(1000px)
				max-width: 44em;
				font-size: 1.2em;

			.ap-txt
				position: relative

				&:before, &:after
					color: rgba(255, 255, 255, .4)
					font-size: 1.8em
					position: absolute
					font-family: 'Georgia', serif

				&:before
					content: '"'
					left: -0.6em

				&:after
					content: '"'

				&--cap
					color: $orange
					font-family: $prinFont
					float: left;
					font-size: 4em;
					font-weight: 700;
					line-height: .6em;
					margin-right: .2em;

		&-block
			background-color: $concretedk
			text-align: center;
			padding: 1em;

			+above(1000px)
				.ap-area-panel
					padding: 0
					text-align right

		// People widget
		&-item
			display inline-block
			font-size: .88em

			+above(1000px)
				font-size: 1em

		&-img
			background: url('../img/img-carlos.jpg') no-repeat center / cover
			width: 4em;
			display: inline-block;
			height: 4em;
			border: 2px solid $orange;
			border-radius: 8em;
			vertical-align: middle

			+above(1000px)
				background: url('../img/img-carlos-areas.png') no-repeat center top/cover
				position: absolute;
				bottom: 50%;
				border: 0;
				border-radius: 0;
				font-size: 3.6em;
				margin-bottom: -1.4em;
				right: 50%;
				margin-right: -8em;

		&-inf
			display: inline-block;
			vertical-align: middle;
			margin-left: 1em;
			text-align: left;

			.ap-txt
				&--charge
					color: $orange

				&--name
					color: $lightGr
					font-size: 1.2em
