.ap
	&-op
		&-sect
			&--contact
				background: $orange
				padding: 7em 0 0
				position: relative

	&-area
		&-ct
			padding: 0 1em 1em
			position: relative
			z-index: 2

			.ap
				&-tt-sect
					&:before
						background-color: $orange

					&t
						color: $base
						margin-bottom: 0em
						font-size: 1.6em

						&:before
							color: $orange
							margin-right: .2em

				&-txt
					color: $base
					font-family: $prinFont

					&:nth-child(2)
						margin-bottom: 1em

					&--link
						display block
						color: $base
						font-family: $subFont

					&-phone
						font-family: $subFont
						display inline-block

						a
							color: $base
							text-decoration underline

	&-ct
		&-info
			background-color: #FFF;
			padding: 1em;

			&-data
				+below(480px)
					float: none
					width: 100%
					margin: 0 0 1em

		&-item
			font-family: $subFont
			color: $base

		&-map
			position: absolute
			width: 100%
			height: 100%
			left: 0
			top: 0

			#map
				height: 80%
				width: 100%
				filter: grayscale(100%);

				+above(760px)
					height: 100%
